/* Base Styles -------------------- */

* {
  box-sizing: border-box;
}


body {
  color: #606060;
  margin: 0;
  font: 1em/1.5 "Open Sans", sans-serif;
}

h1,
h2 {
  font-family: 'Marck Script', cursive;
}

h1 {  
  font-size: 5.625rem; /* 90px/16px  */
  color: rgba(255, 255, 255, 1);
/*  text-transform: uppercase;*/
  font-weight: normal;
  line-height: 1.3;
  text-shadow: 5px 5px 5px rgba(0,0,0, .9);
  margin: 12px 0 0;
}
.buttonFix {
    line-height: 0;
}

  /* Main Styles --------------------- */
  
 .main-header {
  padding-top: 170px;
  height: 850px;
  
  background: linear-gradient(#fff, transparent 30%),
	      linear-gradient(0deg, #fff, transparent 20%),
	      url(../img/mountains.jpg) no-repeat center;  	      
  background-size: cover; 
  
}

 .title {
  color: white;
  font-size: 1.625rem; /* 26px/16px */
  letter-spacing: .065em;
  font-weight: 200;
  border-bottom: 2px solid;
  padding-bottom: 10px; 
  }
    
  .intro {
  font-size: 1.25em; /* 20px/16px */
  line-height: 1.6; 
  padding-bottom: 650px; 
}

.primary-content,
.main-header,
.main-footer,
.main-footer2 {
  text-align: center;
}

.primary-content {
  padding-top: 25px;
  padding-bottom: 95px;
}

.t-border {
  border-top: 2px solid #dfe2e6;
  height: 1250px;
}    

 .main-footer {
  list-style: none;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 100px;
  padding-bottom: 25px;
  width: 100%;
  margin: auto;
  background-color: black;
  color: white;
}

.main-footer a, {
  text-decoration: none;
  color: white;
}
.main-footer2 {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 100px;
  padding-bottom: 25px;
  width: 100%;
  margin: auto;
  background-color: #66cccc;
  color: black;
}
/* Layout Styles ------------------ */

.primary-content, 
.secondary-content {
  width: 75%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
  }
  
.arrow {
  width: 50px;
  margin-top: 150px;
}

/************************************************
NAVIGATION
*************************************************/

nav {
  text-align: center;
  margin: 10px 0 0;
  background-color: grey;
  line-height: 0;
}

nav ul, ul a {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav a {
  font-weight: 800;
  text-decoration: none;

}

/* nav link */
nav a, nav a:visited {
  color: black;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: #66cccc;
}

/************************************************
PAGE: ABOUT
*************************************************/
/*
.subhead {  
  font-size: 5.625rem; /* 90px/16px  */
/* color: rgba(255, 255, 255, 1);    */
/* text-transform: uppercase;        */
/* font-weight: normal;
  line-height: 1.3;
  text-shadow: 0 1px 1px rgba(0,0,0, .8);
  margin: 12px 0 0;
}

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%;
}

 .profile-photo {
  border-style: solid;
  border-color: #66cccc;
 
}

.mainBody{
  background-color: #F6FCFF;
}   */

/************************************************
Greek God Form
*************************************************/

.fcontainer{
  width: 60%;
  text-align: center;
  font-size: 1em;
  background-color: white;
  padding: 20px; 
  border: 20px solid #e6d89b;
  border-style:dotted solid double;
}

.fcontainer {
  max-height: 1000px;
}



.key_l {
  text-align: left;
  color: #000;
  font-size: 0.75em;
  border: 5px solid #e6d89b;
  padding: 15px;
}

.sec_lift {
  color: #000;
  font-size: 0.75em;
  text-align: left;
  border: 5px solid #e6d89b;
  padding: 20px;
}

.rep_label {
  display: inline-block;
  
}

.head_section {
  color: #000;
  font-size: 0.75em;
  text-align: left;
  border: 5px solid #e6d89b;
  padding: 20px;
}



.fweight {
  width: 55px;
  display: inline-block;
  
}
.freps {
  width: 30px;
  display: inline-block;

}
#image1{
  size: 25px;
}

#jsbutton,
#jsbutton2 {
/*make the submit button longer*/ 
  padding-left: 20px;
  padding-right: 20px;
  
}

    
/**********************************************
Report Output form	
***********************************************/
.table {
  border: 5px solid #e6d89b;
  width: 100%;
  background: white;
  text-align: center;
}

tr {
 height: 30px;
}
.table_title {
  border: 5px bold #e6d89b;
}

.t_column {
  border: 5px solid #e6d89b;
}
 .hideTable {
  display: none;
 }
/************************************************
Report Button form	
*************************************************/
.reports{
 height: 50px;
 text-align: center;
}

.report_divs {
text-align: center;
}

.button {
text-align: center;
}

.button {
 height: 45px;
 padding-top: 5px;
 padding-bottom: 5px;
 background: #ffa949;
 color: #3dbfc1;
 text-height: center;
 text-shadow: 2px 1px 1px #0c7172;
 border-radius: 15px;
 width: 20em;
 cursor: pointer;
 
}

/************************************************
Nutrition Form
*************************************************/

#fname, 
#fbrand {
  width: 20em;
}

#s_amount {
  width: 3em;
      
}

#s_size {
  width: 2em;
    
}

.n_input{
    
  text-align: center;
  width: 10em;
  
}

.ncontainer {
  max-height: 1000px;


}

.n-row label {
   margin: 20px;
   float:left;
}
.n-row input {
   float:right;}
.n_box {

}

/************************************************
Privacy Page
*************************************************/

.privacy {
  list-style: none;
}

ul a, li a {
   text-decoration: none;
}

footer a {
  color: white;
}

/************************************************
Login Page
*************************************************/

.loginpage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main-header {
  display: inline-block;
  text-align: center;
}
.loginheading {
  text-align: center;
}


.loginButton {
	width: 10%;
	height: 10%;
	float: left;
	margin: 0px;
	padding: 0px;

}

div.buttonFix {
	width: 100%;
	background-color: green;
}
img {
	border: 0;
}
/*****************************************************************************   
    html code
    <link rel="stylesheet" href="css/responsive.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    *******************************************************************************/